<!-- <br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Breeds Image</h2>
            <h2>{{fimg}}</h2>
            <br>
            <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <img [src]="fimg" class="center" alt="">
                    <h1>{{fimg}}</h1>
                </div>
                
            </div>
            </div>
        </div>
    </div>
</div> -->
<h1 *ngFor="let item of fimg">{{item}} </h1>
